flask
flask-cors
flask_sqlalchemy
gunicorn
psycopg2-binary
python-dotenv
openai
# faiss-cpu      # décommente si tu utilises FAISS pour ton vector store
# pandas         # décommente uniquement si tu en as besoin
